<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script defer src="/js/script.js"></script>
    <title>Budgtr</title>
</head>

<body>
    <div class="container">
        <h2>Budgtr All</h2>
        <table id="budgetTb">
            <% budget.forEach(function(expenditure) { %>
                <tr>
                    <td>
                        <%= expenditure.date %>
                    </td>
                    <td>
                        <% let id=budget.indexOf(expenditure)%>
                            <a href="/budget/<%=id%>">
                                <%=expenditure.name %>
                            </a>

                    </td>
                    <td>
                        <%= expenditure.amount %>
                    </td>

                </tr>

                <% })%>
        </table>

    </div>

</body>

</html>